.create-order-form {
  padding: 20px 50px;

  .form-group {
    margin-bottom: 20px;

    .MuiFormLabel-root {
      font-weight: bold;
      margin-bottom: 6px;
      font-size: 18px;
      color: #000;
    }

    .required {
      color: red;
    }
  }

  .form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;

    > * {
      flex: 1;
    }
  }

  .govs-permit,
  .contact-email {
    max-width: 49%;
  }

  .form-actions {
    display: flex;
    gap: 15px;
    margin-top: 30px;

    button {
      flex: 0 0 24%;
    }
  }

  @media (max-width: 768px) {
    padding: 15px;

    .form-row {
      flex-direction: column;

      > * {
        flex: 1 1 100%;
        max-width: 100%;
      }
    }

    .govs-permit,
    .contact-email {
      max-width: 100%;
    }

    .form-actions {
      flex-direction: column;

      button {
        flex: 1 1 100%;
        width: 100%;
      }
    }
  }
}
